#map{
  height: 92vh;
  width: 50%;
  float: left;
  position: fixed !important;
  top: 62px;
  left: 20px;
}

#places-list{
    margin-left: 50%;
    margin-top: 70px;
}

.club-img{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.place-info{
  height: 120px;
  width: 90%;
  background: white;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 5%;
  border: 1px solid #DCDCDC;
  border-radius: 2px;
}

.info-marker{
  width: 300px;
}

h4{
  margin: 0;
}

.green-text{
  color: green;
}

.red-text{
  color: red;
}

.club-name h4{
    margin-top: 5px;
}

.yelp-img{
  height: 30px;
  width: 50px;
}

.distance{
  text-align: right;
}

.price{
  text-align: right;
}

.yelp-rating{
  width: 100px;
  height: 20px;
}

.yelp-info{
  margin-left: 35px;
  height: 50px;
}

.yelp-info-rating{
  margin-top: 20px;
  text-align: right;
}

.place-address{
  padding-bottom: 10px;
}

body{
  background: url("http://i.imgur.com/OZqaUfg.jpg") !important;
  background-size: cover !important;
}

.header{
  width: 100%;
  height: 60px;
  background: #FFDB19;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.menu-option{
  float:left;
  padding: 10px 30px;
  color: black;
  font-size: 24px;
  height: 100%;
  font-weight: bold;
}

.menu-option:hover{
  background: black;
  color: white;
  cursor: pointer;
}

.menu-option-logout{
  float:right;
  padding: 10px 30px;
  color: black;
  font-size: 24px;
  height: 100%;
  font-weight: bold;
}

.menu-option-logout:hover{
  background: black;
  color: white;
  cursor: pointer;
}

.empty-div{
  height: 60px;
}

.additional-nav{
  width: 100%;
  height: 30px;
  background: rgba(224,193, 22, .8);
}

.nav-container{
  height: 100%;
  width: 350px;
  margin: 0 auto;
}

.additional-menu-option{
  float:left;
  padding: 5px 20px;
  color: black;
  font-size: 14px;
  height: 100%;
  font-weight: bold;
}

.additional-menu-option:hover{
  background: black;
  color: white;
  cursor: pointer;
}

.spliter{
  float: left;
  width: 2px;
  height: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.place-info{
  margin-top: 20px;
  background: white;
  border-radius: 3px;
  border: 1px solid #DCDCDC;
}

.place-info h3{
  margin-top: 2px;
  padding-left: 30px;
  float:left;
}

.place-info-img{
  width: 200px;
  height: 200px;
  float: left;
}

.rating-tonight{
  float: right;
  font-size: 18px;
}

.sorry-message{
  text-align: center;
}

.lock-img{
  margin-top: 30px;
  height: 250px;
  width: 250px;
}

.post-info{
  background: white;
  margin-top: 20px;
  border: 1px solid #DCDCDC;
}

.new-comment{
  background: white;
  margin-top: 20px;
  border: 1px solid #DCDCDC;
  padding: 10px 10px;
}

.text-rating{
  font-size: 16px;
  margin: 0;
}

.comment-btn{
  text-align: right;
  margin-top: 30px;
  clear: both;
}

.user-img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 20px;
}

.user-profile{
    text-align: center;
}

.user-profile h3{
  color: white;
}

hr {
  margin-top: 0;
}

.login{
  text-align: center;
  margin-top: 20%;
}

.login a{
  color:#FFDB19;
}

.form-control{
  width: 25%;
  margin-left: 37.5%;
}

.btn-login-signup{
  margin-top: 20px;
  width: 100px;
}

.login-text{
  color: white;
}

.signup-prompt{
  margin-top: 5px;
}

.sf-nights-name{
  font-family: 'Ultra', serif;
  /*font-family: 'Shrikhand', cursive;*/
  /*font-family: 'Permanent Marker', cursive;*/
  /*font-family: 'Cookie', cursive;*/
  font-size: 40px;
  font-weight: bolder;
  color:black;
    text-shadow:
    -1px -1px 0 #FFDB19,
    1px -1px 0 #FFDB19,
    -1px 1px 0 #FFDB19,
    1px 1px 0 #FFDB19;
}